// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gray-back: #b0b0b7;
$light-gray: #ededf4;
$gray-hover:#a6a6ad;
$purple: #634FA8;
$purple-tag: #6543a0;
$purple-hover: #7f67d3;
$white: #F7F7FF;
$line-color: #d7d7e2;
$background: #FBFCFC;
