
.main-form{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .form-container {
    box-sizing: border-box;
    border: ($line-width * 2) solid $white;
    margin: ($margin * 8) ($margin * 12);
    border-radius: $border-radius * 16;
    padding: $padding * 12;
    width: 30%;
    h3{
      text-align: center;
      font-weight: bold;
    }
    form {
      margin:($margin * 8) ($margin * 4);
    }
  }
}
