// Specific CSS for your home-page

body{
  background-color: white;
}

.main-container {
  position: relative;
  border: ($line-width * 2) solid $purple;
  margin: ($margin * 12) ($margin * 12);
  padding-top: $padding * 14;
  padding-bottom: $padding * 14;
  // height: 100vh;
  border-radius: $border-radius * 16;
}
.sub-container{
  margin-left: $margin * 13;
  margin-right: $margin * 13;
  .homepage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
    font-weight: bold;
    }
  }
  .homepage-container{
    margin-top: ($margin * 32);
    h1 {
      font-weight: bold;
      font-size: $font-size * 10;
    }
    p {
      margin-top: ($margin * 8);
      margin-bottom: ($margin * 8);
      font-size: $font-size * 6;
    }
  }
  .homepage-signup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $light-gray;
    border-radius: $border-radius * 4;
    width: $width * 36;
    padding: ($padding * 2) ($padding * 4);
    p{
      margin: 0;
    }
  }
  .img-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
