.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: ($margin * 4);
  border-bottom: ($line-width) solid $line-color;
  padding-bottom: $padding * 4;
  h1{
    margin-right: ($margin * 10);
    font-size: $font-size * 10;
    font-weight: bold;
  }
}

.container-infoshow {
  margin: ($margin * 4);
  padding-bottom: $padding * 6;
  h3{
    font-weight: bold;
  }
}

.rooms-infoshow {
  display: flex;
}

.messages-infoshow {
  p{
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: $padding * 2;
  }
}
