
//Main grid

.show-grid {
  position: relative;
  display: grid;
  grid-template-columns: .8fr 16fr;
  height: 100vh;
}

// Left navbar

.side-bar-profile {
  background-color: $purple;
  .nav-tabs {
    border: none;
    justify-content: center;
    li {
      padding-top: 12px;
      width: -webkit-fill-available;
      a {
        text-align: center;
        i {
          font-size: 20px;
        }
      }
    }
    .nav-link {
      border-radius: 0px;
      border:none;
    }
    .nav-link.active {
      background-color: white;
      border-color: transparent;
      i {
        color: $purple;
      }
    }
  }
}

/// Profile page - main navbar

//Layout
.container-header {
  padding: 40px 60px;
  .header-font {
    h3 {
       width: 100%;
       text-align: left;
       border-bottom: 2px solid $line-color;
       line-height: 0.2em !important;
       margin: 10px 0 20px;
    }

    h3 span {
        background:#fff;
        padding-right:32px;
        border: 1px solid white;
    }
  }
}

.container-profile {
  margin-top: 40px;
  display: flex;
  box-shadow: rgba(0, 0, 0 ,.24) 0px 3px 8px;
  border-radius: 8px;
  .profile-pic {
    padding: 36px;
        border-right: 2px solid #f8f9f9;
    i {
      color: black;
    }
  }
}

//Profile box

.profile-pic {
  margin: auto;
  h3{
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
}

.user-name-container {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.main-info {
  padding: 10px 16px;
}

.title {
  color: #c6c6c6;
}
.info {
  color: gray;
  margin-right: 10%;
}
span {
  color: black;
}
.flex-main-info {
  display: flex;
  border-bottom: 2px solid #f8f9f9;
}

.flex-main-rooms {
  display: flex;
  border-bottom: 2px solid #f8f9f9;
}

.flex-main-actions {
  display: flex;
}

.action-btn {
  margin-right: 20px;
}
.action-btn:hover {
  p {
    color: $purple;
  }
}

/// Messages Page - main navbar

.container-messages {
  margin-top: 48px;
  .nav-tabs {
    border: none !important;
  }

  .nav-tabs .nav-link.active {
    border-bottom: 2px solid $purple;
    color: $purple;
  }

  .nav-tabs .nav-link {
    border: none;
    color: #c6c6c6;
  }
}

