<div class="show-grid">
  <div class="side-bar-profile">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="far fa-address-card"></i></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="far fa-comments"></i></a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false"><i class="far fa-newspaper"></i></a>
      </li>
    </ul>
  </div>
  <div class="main-bar-profile">
    <%= render 'shared/navbar' %>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab"><%= render "users/partials/partial_main" %></div>
      <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= render "users/partials/partial_rooms" %></div>
      <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab"><%= render "users/partials/partial_feed" %></div>
    </div>
  </div>
</div>