<h1><%= @user.first_name %></h1>


<h3>Messages written:</h3>

<% @user.messages.each do |message| %>
<p><%= message.content %></p>
<% end %>


<h3>Groups: </h3>
<% @user.rooms.each do |room| %>
<%= link_to room_path(room) do %>
<p><%= room.name %></p>
<% end %>
<% end %>

