<div class="message-form">
  <div class="message-container">
    <div class = "shop-show"></div>
    <%= simple_form_for [@user, @event] do |f| %>
      <%= f.input :content %>
      <%= f.association :room, collection: current_user.rooms.order("name asc"), prompt: "Choose a Room" %>
      <%= f.submit "Create a message", class: "btn-log" %>
    <% end %>
  </div>
</div>