<h1> Welcome to Neighbourly</h1>

<p>If you are registered already then click to sign in!</p>
<%= link_to 'Sign in', users_path %>

<p>If not then sign up please!</p>
<%= link_to 'Sign up', new_user_path %>
