<div class="main-container">
<div class="container">
  <div class = homepage-header>
    <h2>Neighbourly</h2>
    <%= link_to 'Sign in', users_path, class: "btn-log" %>
  </div>
  <div class="homepage-container">
    <h1>Where connections<br>happen.</h1>
    <p>Are you ready? </p>
  </div>
  <div class="homepage-signup">
    <p>Create an account</p>
    <%= link_to 'Sign up', new_user_path, class: "btn-log" %>
  </div>
  <%= image_tag "homepage-icon.png", alt: "Homepage Icon", width: 600, class: "img-icon" %>
</div>
</div>
