<div class="main-container">
  <div class="sub-container">
    <div class = homepage-header>
      <div class="title-header">
        <%= image_tag "logo.png", alt: "Logo", class: "logo" %>
        <h2>Neighbourly</h2>
      </div>
      <%= link_to 'Sign in', new_user_session_path, class: "btn-log" %>
    </div>
    <div class="homepage-container">
      <h1>Where connections<br>
        happen.</h1>
      <p>Are you ready? </p>
    </div>
    <div class="homepage-signup">
      <p>Create an account</p>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn-log" %>
    </div>
    <%= image_tag "homepage-icon.png", alt: "Homepage Icon", width: 600, class: "img-icon" %>
  </div>
</div>