<% @user.messages.each do |message| %>
  <div class="recommendation">
    <%= cl_image_tag message.shop.photos.first.key, height: 100, width: 100, crop: :fill %>
    <div class="recommendation-text">
      <p class="rest-name"><%= message.title %></p>
      <p class="content"><%= message.content %></p>
      <p class="room"><%= "#{message.shop.name} - #{message.room.name} room" %></p>
    </div>
  </div>
<% end %>