<% @shops.each do |shop| %>
  <% if shop.messages.count > 0 %>
    <div class="user-message">
      <div class = "message-text">
        <%= cl_image_tag shop.photos.first.key, height: 200, width: 200, crop: :fill %>
        <% shop.messages.each do |message|  %>
          <h3><%= message.user.alias %></h3>
          <p><%= message.content %></p>
          <%= link_to "Remove",
                  user_message_path(@user,message),
                  method: :delete,
                  data: { confirm: "Are you sure?" }
                   %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>