<% @room.events.each do |event| %>
  <div class="user-message">
    <%= cl_image_tag event.user.icon.url, alt: "User icon", class: "avatar" %>
    <div class = "message-text">
      <div class="message-delete">
        <h3><%= event.user.alias %></h3>
        <% if current_user.id == event.user_id %>
          <%= link_to user_event_path(current_user, event), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-times del-icon"></i>
          <% end %>
        <% end %>
      </div>
      <p><%= event.content %></p>
    </div>
  </div>
<% end %>