.alert {
  position: fixed !important;
  bottom: 16px !important;
  right: 16px !important;
  z-index: 1000 !important;
  background-color: $purple-tag !important;
  border-color: $purple-hover !important;
  color: white !important;
}

