.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-lg{
  width: $width * 16;
}

.logo {
  width: $width * 6;
  border: $purple 2px solid;
  border-radius: 50%;
  margin-right: $margin * 2;
}

.avatar-marker {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  bottom: 6px;
  left: 4px;
}
