
// Sign up & Sign in form

.main-form{
  background-color: white;
  display: flex;
  height: 100vh;
  .form-container {
    width: 35%;
    margin: auto 0;
    margin-left: $margin * 8;
    .centered-container{
      h1{
        font-weight: bold;
        color: $purple;
        margin: ($margin * 2) ($margin * 4);
      }
      form {
        margin:($margin * 6) ($margin * 4);
      }
      p {
        margin: ($margin * 2) ($margin * 4);
        a {
          text-decoration: none;
          color: $purple;
          font-weight: bold;
        }
        a:hover{
          color: $purple-hover;
        }
      }
    }
  }
}

.form-inputs {
  .form-control {
  border-radius: $border-radius * 3;
  }
  .form-flex {
    display: flex;
    justify-content: space-between;
    .form-group {
      flex-grow: 1;
    }
    .user_name {
      margin-right: $margin;
    }
    .user_alias {
      margin-left: $margin;
    }
  }
}

.form-actions {
  input{
    color: white;
    width: 100%;
    background: $purple;
    border-radius: $border-radius * 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: $padding;
    text-align: center;
  }
  input:hover{
    color: white;
    background: $purple-hover;
  }
}

.image-container{
  width: 65%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Message form

.message-form{
  box-sizing: border-box;
  border: ($line-width * 2) solid $white;
  margin: ($margin * 12) ($margin * 12);
  border-radius: $border-radius * 16;
  padding: $padding * 12;
  form {
  margin:($margin * 8) ($margin * 4);
  }
  h2{
  text-align: center;
  font-weight: bold;
  font-size: $font-size * 6;
  }
}
