.navbar-lewagon {
  justify-content: space-between;
  background-color: $background;
  position: absolute;
  width: -webkit-fill-available;
  background-color: white;
  padding: 0rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  .navbar-nav {
    align-items: center;
    a {
      color: $purple !important;
    }
  }
}

.navbar-lewagon .navbar-brand {
  padding-left: 52px;
  flex-grow: 1;
  text-align: center;
  img {
    width: $width * 6;
    border: $purple 2px solid;
    border-radius: 50%;
  }
}


