.navbar-lewagon {
  justify-content: space-between;
  background-color: $background;
  position:relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: $width * 6;
  border: $purple 2px solid;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 11px;
}

