
.btn-active, .btn-non-active {
  width: 50%;
  text-align: center;
  text-decoration: none!important;
  font-size: 18px;
  font-weight: bold;
  margin-top: 14px;
  border-radius: 4px;
  padding: 4px;
}


.btn-active{
  background-color: #514951;
  color: white;
}

.btn-active:hover{
  color: white;
}

.btn-non-active {
  color: #514951;
}

.btn-non-active:hover{
  color: white;
}


/*SECOND SIDEBAR*/

.sidebar-secondary {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-secondary-container {
  width: 80%;
  margin: 0 auto;
}

.room-back {
  margin: $margin * 3;
}

.box-header {
  margin-top: 12px;
}

.box-header h2, p {
  margin: 0;
}

.box-header h2 {
  color: white;
}

.box-header p {
  color: #c6c6c6;
}

.box-header i {
  color: #67E6BE;
  font-size: 8px;
  margin-right: 8px;
}

.box-header-id {
  display: flex;
  align-items: center;
  margin-top: 8px;
  p {
    margin: 0;
  }
}

.profile-title {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-title h3, i {
  margin: 0;
  font-size: 17px;
  color: white;
}

.profile-content ul {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  margin-top: $margin * 4;
}

.profile-content i {
  margin-right: 12px;
  color: #ada9a9;
  font-size: 16px;
}

.white-room-name {
  color: white;
  .white-room{
    color: white !important;
    opacity: 1;
  }
}

.grey-room {
  a {
    color: #ada9a9;
    opacity: 0.4;
  }
}

.grey-room:hover {
  a {
    color: #ada9a9;
    opacity: 1;
  }
}


.users i {
  color: #67E6BE;
  font-size: 8px;
}


