.room-tag {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 60%;
  text-decoration: none;
  padding: ($padding * 2) ($padding * 2);
  border-radius: $border-radius * 4;
  margin: $margin * 3;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .2s ease-in-out;
  p {
    color: $gray;
  }
  .del-icon{
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: $font-size * 2.2;
    color: $line-color;
  }
  .icon-cont{
    border-left: 3px solid #f2f2f9;
    .enter-icon{
      color: $purple;
      padding-left: $padding * 2;
    }
  }
}

.room-tag:hover {
  text-decoration: none;
  transform: scale(1.15);
}
